<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>PAGINA PRINCIPAL</h1>
    <a href="{% url 'usuarios' %}" class="btn btn-danger mt-3">Usuarios</a>
    <br>
    <a href="{% url 'programaeducativo' %}" class="btn btn-danger mt-3">Programa Educativo</a>
    <br>
    <a href="{% url 'asignaturas' %}" class="btn btn-danger mt-3">Asignatura</a>
    <br>
    <a href="{% url 'grupos' %}" class="btn btn-danger mt-3">Grupo</a>

    
    <br>
    <a href="{% url 'cursos' %}" class="btn btn-danger mt-3">Curso " falta checar el agregar curso "</a>

    <br>
    <a href="{% url 'evidencias' %}" class="btn btn-danger mt-3">Evidencias  " checar "</a>
    <br>
    <a href="{% url 'usuarios' %}" class="btn btn-danger mt-3">Asignacion de Evidencia</a>
    <br>
    <br>
    
</body>
</html>